<div class="issue-box-details"></div>

<div class="issue-box-snippet">
  <table class="code">
    <tr class="row" data-line-number="118" id="view10-118">
      <!--<td class="stat lid js-line-actions" title="Line Actions">118</td>-->
      <td class="line"><pre>  <span class="k">try </span>{</pre></td>
    </tr>
    <tr class="row" data-line-number="119" id="view10-119">
      <!--<td class="stat lid js-line-actions" title="Line Actions">119</td>-->
      <td class="line issue"><pre>    <span class="sym-1472 sym">exchange</span>.fetch();</pre></td>
    </tr>
    <tr class="row" data-line-number="120" id="view10-120">
      <!--<td class="stat lid js-line-actions" title="Line Actions">120</td>-->
      <td class="line"><pre>    <span class="k">if </span>(!<span class="sym-1472 sym">exchange</span>.getValue().isDefined()) {</pre></td>
    </tr>
  </table>
</div>
